
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.main-ui-holder {
    position: absolute;
    top: 60px;
    left: 0;
    height: calc(100% - 60px);
    min-width: 100%;
    width: 100%;
}
            
.art-container {
  display: flex;
  display: -webkit-flex;
}

.art-part {
  background: black;
}

#header {
    height: 60px;
    font-size: 10vw;
    text-align: center;
    line-height: 60px;
    background: black;
    color: white;
}

#div2 {
    flex: 1;
    -webkit-flex: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
#canvas {
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 5px;
    position: relative;
    overflow: visible;
    flex: 1;
    -webkit-flex: 1;
}


#controls {
    min-height: 100px;
    min-width: 100px;
    font-size: 0;
    vertical-align: top;
    text-align: center;
    overflow-y: auto;
}

#controls2 {
    min-width: 100px;
    height: 60px;
    width: 100%;
    max-height: 60px;
    background-color: black;
    display: inline-block;
    font-size: 0;
    text-align: center;
    white-space: nowrap;
}

.action-button {
    height: 42px;
    width: 42px;
    padding: 2px;
    margin: 5px;
    overflow: hidden;
}

.action-image {
    width: 100%;
    height: auto;
}

.art-button {
    background-color: #bbbbbb;
}

.color-button {
    
}

.button-logo {
    max-height:100%;
    max-width:100%;
    vertical-align: middle;
    display: inline-block;
}



/* AUTOGENERATED. Formatting may be inconsistent */
.black-color {
    background-color: black;
}

.red-color {
    background-color: rgb(255, 0, 0);
}
.green-color {
    background-color: rgb(0, 204, 0);
}
.blue-color {
    background-color: rgb(0, 0, 204);
}
.orange-color {
    background-color: rgb(234, 122, 37);
}
.yellow-color {
    background-color: rgb(237, 237, 0);
}
.purple-color {
    background-color: rgb(158, 0, 237);
}
.white-color {
    background-color: rgb(255, 255, 255);
}
.dark-red-filter {
filter: invert(7%) sepia(94%) saturate(7485%) hue-rotate(28deg) brightness(82%) contrast(120%);
-webkit-filter: invert(7%) sepia(94%) saturate(7485%) hue-rotate(28deg) brightness(82%) contrast(120%);
}
.dark-green-filter {
filter: invert(15%) sepia(20%) saturate(4696%) hue-rotate(89deg) brightness(98%) contrast(96%);
-webkit-filter: invert(15%) sepia(20%) saturate(4696%) hue-rotate(89deg) brightness(98%) contrast(96%);
}

.dark-green-color {
background-color: rgb(6, 63, 5);
}
.dark-red-color {
background-color: rgb(122, 0, 0);
}
.dark-yellow-filter {
filter: invert(73%) sepia(52%) saturate(945%) hue-rotate(14deg) brightness(98%) contrast(99%);
-webkit-filter: invert(73%) sepia(52%) saturate(945%) hue-rotate(14deg) brightness(98%) contrast(99%);
}

.dark-yellow-color {
background-color: rgb(199, 206, 2);
}
.light-purple-filter {
filter: invert(18%) sepia(69%) saturate(5063%) hue-rotate(300deg) brightness(105%) contrast(119%);
-webkit-filter: invert(18%) sepia(69%) saturate(5063%) hue-rotate(300deg) brightness(105%) contrast(119%);
}

.light-purple-color {
background-color: rgb(255, 0, 216);
}
.dark-orange-filter {
filter: invert(20%) sepia(99%) saturate(3080%) hue-rotate(40deg) brightness(97%) contrast(101%);
-webkit-filter: invert(20%) sepia(99%) saturate(3080%) hue-rotate(40deg) brightness(97%) contrast(101%);
}
.light-orange-filter {
filter: invert(74%) sepia(29%) saturate(4972%) hue-rotate(339deg) brightness(101%) contrast(101%);
-webkit-filter: invert(74%) sepia(29%) saturate(4972%) hue-rotate(339deg) brightness(101%) contrast(101%);
}

.light-orange-color {
background-color: rgb(255, 147, 40);
}
.dark-gray-filter {
filter: invert(46%) sepia(0%) saturate(12%) hue-rotate(181deg) brightness(87%) contrast(91%);
-webkit-filter: invert(46%) sepia(0%) saturate(12%) hue-rotate(181deg) brightness(87%) contrast(91%);
}

.dark-gray-color {
background-color: rgb(104, 104, 104);
}

.gray-filter {
filter: invert(79%) sepia(1%) saturate(0%) hue-rotate(154deg) brightness(88%) contrast(90%);
-webkit-filter: invert(79%) sepia(1%) saturate(0%) hue-rotate(154deg) brightness(88%) contrast(90%);
}

.gray-color {
background-color: rgb(173, 173, 173);
}



.dark-orange-color {
background-color: rgb(155, 77, 0);
}
.turquoise-filter {
filter: invert(49%) sepia(91%) saturate(2567%) hue-rotate(162deg) brightness(95%) contrast(101%);
-webkit-filter: invert(49%) sepia(91%) saturate(2567%) hue-rotate(162deg) brightness(95%) contrast(101%);
}
.dark-blue-filter {
filter: invert(17%) sepia(61%) saturate(3938%) hue-rotate(240deg) brightness(74%) contrast(148%);
-webkit-filter: invert(17%) sepia(61%) saturate(3938%) hue-rotate(240deg) brightness(74%) contrast(148%);
}

.dark-blue-color {
background-color: rgb(8, 0, 168);
}
.turquoise-color {
background-color: rgb(0, 164, 214);
}
.white-filter {
    filter: invert(100%) sepia(3%) saturate(2%) hue-rotate(193deg) brightness(113%) contrast(101%);
    -webkit-filter: invert(100%) sepia(3%) saturate(2%) hue-rotate(193deg) brightness(113%) contrast(101%);
}
.black-filter {

}
.red-filter {
    filter: invert(20%) sepia(93%) saturate(5250%) hue-rotate(2deg) brightness(93%) contrast(132%);
    -webkit-filter: invert(20%) sepia(93%) saturate(5250%) hue-rotate(2deg) brightness(93%) contrast(132%);
}
.green-filter {
    filter: invert(46%) sepia(76%) saturate(2963%) hue-rotate(89deg) brightness(109%) contrast(111%);
    -webkit-filter: invert(46%) sepia(76%) saturate(2963%) hue-rotate(89deg) brightness(109%) contrast(111%);
}

.blue-filter {
    filter: invert(9%) sepia(100%) saturate(7434%) hue-rotate(248deg) brightness(73%) contrast(134%);
    -webkit-filter: invert(9%) sepia(100%) saturate(7434%) hue-rotate(248deg) brightness(73%) contrast(134%);
}

.orange-filter {
    filter: invert(49%) sepia(88%) saturate(1146%) hue-rotate(349deg) brightness(98%) contrast(86%);
    -webkit-filter: invert(49%) sepia(88%) saturate(1146%) hue-rotate(349deg) brightness(98%) contrast(86%);
}

.yellow-filter {
    filter: invert(81%) sepia(62%) saturate(686%) hue-rotate(6deg) brightness(100%) contrast(107%);
    -webkit-filter: invert(81%) sepia(62%) saturate(686%) hue-rotate(6deg) brightness(100%) contrast(107%);
}


.purple-filter {
    filter: invert(14%) sepia(92%) saturate(7187%) hue-rotate(282deg) brightness(93%) contrast(116%);
    -webkit-filter: invert(14%) sepia(92%) saturate(7187%) hue-rotate(282deg) brightness(93%) contrast(116%);
}

/* End AUTOGENERATED */

.butn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #000000;
  font-size: 0px;
  border: solid #8f8f8f 4px;
  text-decoration: none;
  
  width: 70px;
  height: 50px;
  max-height: 50px;
  max-width: 100px;
  margin: 4px;
}

.butn:hover {
  text-decoration: none;
}

.art-item {
    width: 100px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    position: absolute;
    left: 100px;
    top: 100px;
}
.art-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.tint-slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background-image: linear-gradient(to right, white, black);
    border: solid #8f8f8f 4px;
    border-radius: 2px;
    height: 20px;
    width: 150px;
}

.tint-slider::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0.1px solid rgba(0, 0, 0, 0);
    height: 0px;
    width: 0px;
    border-radius: 0px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 4px;
}

.tint-slider::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0.1px solid rgba(0, 0, 0, 0);
    height: 0px;
    width: 0px;
    border-radius: 0px;
    background: #ffffff;
    cursor: pointer;
}

#trash-can {
    height: 40px;
    width: auto;
    padding: 2px;
    margin: 5px;
    vertical-align: middle;
    overflow: hidden;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (min-width: 370px) {
    #header {
        font-size: 40px;
    }
}


@media (orientation: landscape) {
  .art-container {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  #controls {
    max-width: 220px;
  }
}

@media (orientation: portrait) {
  .art-container {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  #controls {
    max-height: 120px;
  }
}